<% if (success) { %>
    <div>
        <br/>
        	<div class="alert alert-success">
        	<%= success %>
    		</div>
        <br/>
    </div>
    <% } %>
    <% if (error) { %>
    <div>
        <br/>
        	<div class="alert alert-error">
        	<%= error %>
    		</div>
        <br/>
    </div>
<% } %>
<ul class="nav nav-tabs">
	<li>
		<a href="/background/users">用户管理</a>
	</li>
	<li>
		<a href="/background/information">实用资讯</a>
	</li>
	<li class="active">
		<a href="/background/user_post">免费交流</a>
	</li>
	<li>
		<a href="/background/news">新闻</a>
	</li>
	<li>
		<a href="/background/learning">日语学习</a>
	</li>
	<li>
		<a href="/background/modules">模块</a>
	</li>
</ul>

<a class="btn btn-primary" href="/background/user_post_post/">发布一个用户投稿</a>
<a class="btn btn-primary" href="/background/user_post_editor_list/">修改已经投递的信息</a>

<div class="row-fluid">
	<div class="span6">
		<h4>未处理的用户投稿: </h4>
		<table class="table table-hover table-bordered">
		<% var i=0; %>
		<% posts_buffer.forEach(function(post, index) { %>
		<% if (!post.handled) { %>
		<% i++ %>
			<tr>
				<td>
					<div id="<%=post.uid%>">
						<a href="/background/user_post/<%=post.uid%>">
						<h4><%= post.location %></h4>
						<p>发件人: <%= post.username %></p>
						<p>投递日期: <%= post.date.toISOString().replace(/T/, ' ').replace(/\..+/, '') %></p>
						</a>
						<a id="button_<%=post.uid%>"class="btn btn-danger" href="/remove_post_buffer/<%=post.uid%>">删除</a>
					</div>
				</td>
			</tr>
		<% } %>
		<% }) %>
		</table>
		<h4>共计 <%= i %> 个</h4>
	</div>

	<div class="span6">
		<h4>已处理的用户投稿: </h4>
		<table class="table table-hover table-bordered">
		<% var i=0; %>
		<% posts_buffer.forEach(function(post, index) { %>
		<% if (post.handled) { %>
		<% i++ %>
			<tr>
				<td>
					<div id="<%=post.uid%>">
						<a href="/background/user_post/<%=post.uid%>">
						<h4>所在地:<%= post.location %></h4>
						<p>发件人: <%= post.username %></p>
						<p>投递日期: <%= post.date.toISOString().replace(/T/, ' ').replace(/\..+/, '') %></p>
						</a>
						<a id="button_<%=post.uid%>"class="btn btn-danger" href="/remove_post_buffer/<%=post.uid%>">删除</a>
					</div>
				</td>
			</tr>
		<% } %>
		<% }) %>
		</table>
		<h4>共计 <%= i %> 个</h4>
	</div>
</div>
<a class="btn btn-danger" href="/remove_post">删除所有已发布的免费交流</a>
<a class="btn btn-danger" href="/remove_post_buffer">删除所有临时免费交流</a>
<script>
$(document).ready(function(){
	<% posts_buffer.forEach(function(post, index) { %>
	$("#<%=post.uid%>").hover(function(){
		$("#button_<%=post.uid%>").show();
	},function(){
		$("#button_<%=post.uid%>").hide();
	});
	$("#button_<%=post.uid%>").hide();
	<% }) %>
});
</script>