<div class="user_container">
	<h3>字号测试</h3>
	<% for (var i=0.5; i<=1.2; i+=0.05) { %>
	<pre style="font-size:<%= i %>em;">
字号: <%=i%>em:
10月になると、蒸し暑い日が去り、気温も下がり、温度の少なくなって秋晴れの日が続く。明け方の気温が8度から9度ぐらいになると木々は紅葉し始める。紅葉は10月上旬に北海道で始まり、11月中旬ー下旬に東京に達す。桜前線とはちょうと正反対の進み方である。进入10月，不再有闷热的天气。气温下降，湿度减低，多为秋高气爽的好天气。当凌晨气温在8～9度时，树叶开始变红。在北海道，10月上旬就可以观赏红叶了，而东京则要等到11月中旬至下旬。红叶与樱花前锋的推移方向正好相反。
	</pre>
	<% } %>
	<h3>行间距测试</h3>
	<% for (var i=90; i<=200; i+=10) { %>
	<pre style="font-size:0.8em; line-height:<%= i %>%">
行间距: <%=i%>%:
10月になると、蒸し暑い日が去り、気温も下がり、温度の少なくなって秋晴れの日が続く。明け方の気温が8度から9度ぐらいになると木々は紅葉し始める。紅葉は10月上旬に北海道で始まり、11月中旬ー下旬に東京に達す。桜前線とはちょうと正反対の進み方である。进入10月，不再有闷热的天气。气温下降，湿度减低，多为秋高气爽的好天气。当凌晨气温在8～9度时，树叶开始变红。在北海道，10月上旬就可以观赏红叶了，而东京则要等到11月中旬至下旬。红叶与樱花前锋的推移方向正好相反。
	</pre>
	<% } %>
	<% for (var i=0; i<=1; i+=0.05) { %>
	<pre style="font-size:0.8em; letter-spacing:<%= i %>em">
字间距: <%=i%>em:
10月になると、蒸し暑い日が去り、気温も下がり、温度の少なくなって秋晴れの日が続く。明け方の気温が8度から9度ぐらいになると木々は紅葉し始める。紅葉は10月上旬に北海道で始まり、11月中旬ー下旬に東京に達す。桜前線とはちょうと正反対の進み方である。进入10月，不再有闷热的天气。气温下降，湿度减低，多为秋高气爽的好天气。当凌晨气温在8～9度时，树叶开始变红。在北海道，10月上旬就可以观赏红叶了，而东京则要等到11月中旬至下旬。红叶与樱花前锋的推移方向正好相反。
	</pre>
	<% } %>
</div>